.Aboutus .container-fluid {
    /* background-color: rgb(238, 219, 219); */
    /* width: 60%; */
    /* padding-inline: calc(0.05*100vw); */
    /* margin-top: calc(0.1*100vh); */
    /* padding-inline: 10px; */
    /* height: 200vh; */
    padding-bottom: calc(0.1*100vh);
    padding-top: calc(0.07*100vh);
    margin-top: 0;
    border-left: 2px solid rgb(248, 93, 93);
    border-right: 2px solid rgb(248, 93, 93);
    
}
@media screen and (max-width:480px) {
    .Aboutus .container{
        width: 100%;
        border: none;
    }
    .aboutpara h3{
        font-size: 1rem;
    }
}

.abouthead{
    color: rgb(248, 93, 93);
    /* font-family: 'Calistoga', serif; */
    font-family: 'proxima-nova';
    /* font-family: 'musio-slab'; */
    /* font-family: 'Calligraffitti', cursive; */
    /* font-weight: 100; */
}
.aboutpara h3{
    /* font-family: 'Playfair Display', sans-serif; */
    color: rgb(67, 94, 203);
    font-family: 'proxima-nova';
    /* font-family: 'Merriweather', sans-serif; */
    font-size: 1.4rem;
    /* font-weight: 800; */
    /* font-weight: 100; */

}




@media screen and (min-width:768px) {
    
    .aboutimg{
        width: calc(0.20*100vw);
        /* height: calc(0.24*100vw); */
        border:5px solid rgb(101, 101, 101);
        margin-block: calc(0.04*100vh);
        /* box-shadow: 1px 3px 2px 2px rgb(123, 123, 123); */
    }
}
@media screen and (max-width:767px) {
    .aboutimg {
            width: 60%;
            margin-block: calc(0.04*100vh);
            /* display: flex; */
            /* justify-content: center; */
        border: 5px solid rgb(101, 101, 101);          
          /* box-shadow: 10px 3px 4px 4px black; */
        }
}
