*{
    margin: 0;
    padding: 0;
    font-family: 'Agbalumo';
}

.indexpage .header {
    position: fixed;
    /* position: sticky; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
        color: black !important;
    z-index: 100;
}

.indexpage .logo {
    font-size: 25px;
    /* color: #222; */
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Dancing Script' !important;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.indexpage .navbar a {
    display: inline-block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.indexpage .navbar a:hover,
.indexpage .navbar a.active {
    color: rgb(25, 25, 188);
}

.indexpage .social-media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    color: rgb(255, 255, 255);
    /* background-color: #000000; */
    height: 40px;
}

.indexpage .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    /* color: black; */
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.indexpage .social-media a:hover {
    border-color: #ffffff;
}

.indexpage .social-media a i {
    font-size: 24px;
    color: #eaeaea;
    transform: rotate(-45deg);
}





















@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rhombus2 {
    0% {
        right: -40%;
        opacity: 0;
    }

    100% {
        right: -25%;
        opacity: 1;
    }
}

@keyframes car {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSci {
    0% {
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}   